#aboutSection {
  margin-bottom: 3rem;
}

.aboutGridContainer {
  display: flex;
  padding-top: 4rem;
  flex-direction: column;
  padding-left: 0;
}
#aboutImg {
  border-radius: 10px;
  min-width: 10rem;
  max-width: 20rem;
  height: 20rem;
  align-self: center;
}

#aboutPara {
  padding-top: 1rem;
  font-size: 1.3rem;
  text-align: justify;
}

.aboutDescription > h2 {
  padding-top: 2rem;
}

@media screen and (max-width: 800px) {
  #aboutPara {
    text-align: justify;
    font-size: 1rem;
  }
}

@media only screen and (min-width: 992px) {
  .aboutGridContainer {
    display: grid;
    grid-template-columns: 30rem auto;
    grid-template-rows: 100%;
    grid-template-areas: "img text";
    margin-bottom: 3.5rem;
  }
  #aboutImg {
    border-radius: 10px;
    width: 20rem;
    height: 25rem;
    align-self: center;
    justify-self: center;
  }
  .aboutDescription {
    grid-area: text;
    align-self: center;
  }
  .aboutDescription > h2 {
    text-align: left;
    padding-top: 0;
  }
}
