body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.main-header {
  background-color: #212121;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.nav-list {
  display: none;
}

.hamburger {
  width: 48px;
  margin: 0 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  right: 10px;
}

.line {
  width: 32px;
  height: 3px;
  margin: 2px;
  background-color: white;
}

/*nav-bar contents

.nav-list {
    display: flex;
    list-style-type: none;
    width: 40%;
    margin: 0 0 0 auto;
    justify-content: space-around;
  }

.nav-item {
    color: white;
  }
.active {
  color: #02bb73;
  border-bottom: 2px solid #02bb73;
}

.nav-item > a {
  text-decoration: none;
  color: inherit;
}
*/
.section {
  width: 100%;
  overflow: hidden;
  height: calc(100vh - 38.4px);
}

.s1 {
  background-color: #212121;
  margin-top: 2.4rem;
}

.image-holder {
  background-color: white;
  width: 150px;
  height: 150px;
  position: relative;
  top: 10%;
  margin: 1.5rem auto;
  border-radius: 50%;
}

#first-name {
  color: white;
  position: relative;
  top: 10%;
  text-align: center;
  font-size: 2rem;
}

#last-name {
  color: #02bb73;
}

#role-key {
  color: white;
  position: relative;
  top: 5%;
  text-align: center;
  font-size: 1rem;
}

#role-value {
  color: #02bb73;
  font-size: 1rem;
}

.s2 {
  background-color: #3e3e3e;
}

.section-heading {
  text-align: center;
  color: #02bb73;
}

.about-me {
  display: inline-block;
  border-bottom: 2px solid white;
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .main-header {
    background-color: #212121;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  .hamburger {
    display: none;
  }
  .nav-list {
    display: flex;
    list-style-type: none;
    width: 40%;
    margin: 0 0 0 auto;
    justify-content: space-around;
  }

  .nav-item {
    color: white;
  }

  .active {
    color: #02bb73;
    border-bottom: 2px solid #02bb73;
  }

  .nav-item > a {
    text-decoration: none;
    color: inherit;
  }

  .s1 {
    background-color: #212121;
    margin-top: 2.4rem;
    height: calc(100vh - 38.4px);
  }

  .image-holder {
    display: none;
  }

  #first-name {
    color: white;
    position: relative;
    top: 40%;
    left: 10%;
    font-size: 3rem;
    text-align: initial;
  }

  #last-name {
    color: #02bb73;
  }

  #role-key {
    color: white;
    position: relative;
    top: 40%;
    left: 10%;
    text-align: initial;
    font-size: 1.5rem;
  }

  #role-value {
    color: #02bb73;
    font-size: 1.5rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
